:root {
  --primary: #2a9d8f;
  --secondary: #e9c46a;
  /* --error: #ff5252;
  --info: #2196f3;
  --success: #4caf50;
  --warning: #ffc107;
  --light: #cccccc; */
  --dark: #264653;

  --bg-frontend: var(--secondary);
  --bg-backend: #f4a261;
  --bg-career: #e76f51;
}
